  <div class="contents row" >
    <p><a3>コメント一覧</a3></p>
    <% @comments.each do |comment| %>
        <hr>
        <a3><%= comment.company.name %>(<%= comment.company.code %>)</a3>：<br>
        <%= comment.text %><br>
         by：<%= comment.user.nickname %> （<%= comment.created_at %>）
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <%= link_to '[削除]', "/comments/#{comment.id}", method: :delete %>
          <% end %>



    <% end %>
    <hr>
    <%= paginate(@comments) %>
  </div>
  <center>
<%=link_to 'TOPに戻る', "/anki", method: :get %>
</center>
</div>
