<div class="contents row">

  <br>
  <table>
  <captation><a3>ランキング（コメント数）</a3></captation>
  <br><br>
  <tr>
    <th>順位</th>
    <th>ユーザー名</th>
    <th>コメント数</th>
  </tr>
  <% sum = 0 %>
  <% number = 1 %>

  <% @ranking.each.with_index(1) do |user, i| %>
    <% sum = number%>
    <tr>
      <td><%= sum%></td>
      <td><a href="/users/<%= user.id %>"><%= user.nickname%></a></td>
      <td><%= User.find(user.id).comments.count%></td>
    </tr>
    <%number +=1%>
  <% end %>
  </table>

<center><p>
<%=link_to 'TOPに戻る', "/anki", method: :get %>
</p></center>
</div>
